# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
pip install tensorflow

^C
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from keras.layers import Dropout
from keras.regularizers import l2

WARNING:tensorflow:From C:\Users\nikhi\Homework\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(r"C:\Users\nikhi\OneDrive\Documents\Fintech\Starter_Code (25)\Starter_Code\Resources\applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(["EIN","NAME"], axis=1)

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"]

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

C:\Users\nikhi\Homework\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
list(applicant_data_df.dtypes[applicant_data_df.dtypes == "int64"].index)

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [11]:
applicant_data_df[['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']]

       STATUS   ASK_AMT  IS_SUCCESSFUL
0           1      5000              1
1           1    108590              1
2           1      5000              0
3           1      6692              1
4           1    142590              1
...       ...       ...            ...
34294       1      5000              0
34295       1      5000              0
34296       1      5000              0
34297       1      5000              1
34298       1  36500179              0

[34299 rows x 3 columns]

In [12]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df, applicant_data_df[['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']]], axis=1)

# Review the Dataframe
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [13]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df[["IS_SUCCESSFUL"]]

# Display a sample of y
y[:5]

   IS_SUCCESSFUL
0              1
1              1
2              0
3              1
4              1

In [14]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [15]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [16]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [17]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [18]:
# Define the number of neurons in the output layer
number_output_neurons = 10

In [19]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  10

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

10

In [20]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  10

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

10

In [21]:
# Create the Sequential model instance
nn = Sequential()

WARNING:tensorflow:From C:\Users\nikhi\Homework\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [22]:
# Add the first hidden layer
nn.add(
    Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

In [23]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [24]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [25]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                1170

 dense_1 (Dense)             (None, 10)                110

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 1291 (5.04 KB)
Trainable params: 1291 (5.04 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [26]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\nikhi\Homework\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [27]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, validation_split=0.3, epochs=50)

Epoch 1/50
WARNING:tensorflow:From C:\Users\nikhi\Homework\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\nikhi\Homework\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

563/563 [==============================] - 3s 3ms/step - loss: 0.6056 - accuracy: 0.6934 - val_loss: 0.5617 - val_accuracy: 0.7339
Epoch 2/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5639 - accuracy: 0.7235 - val_loss: 0.5615 - val_accuracy: 0.7372
Epoch 3/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5579 - accuracy: 0.7256 - val_loss: 0.5548 - val_accuracy: 0.7370
Epoch 4/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5548 - accuracy: 0.7267 - val_loss: 0.5539 - val_accuracy: 0.7361
Epoch 5/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5528 - accuracy: 0.7270 - val_loss: 0.5568 - val_accuracy: 0.7372
Epoch 6/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5521 - accuracy: 0.7290 - val_loss: 0.5529 - val_accuracy: 0.7397
Epoch 7/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5515 - accuracy: 0.7290 - val_loss: 0.5540 - val_accuracy: 0.7376
Epoch 8/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5505 - accuracy: 0.7295 - val_loss: 0.5545 - val_accuracy: 0.7387
Epoch 9/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5501 - accuracy: 0.7294 - val_loss: 0.5524 - val_accuracy: 0.7388
Epoch 10/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7289 - val_loss: 0.5520 - val_accuracy: 0.7397
Epoch 11/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7300 - val_loss: 0.5541 - val_accuracy: 0.7374
Epoch 12/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5480 - accuracy: 0.7301 - val_loss: 0.5567 - val_accuracy: 0.7370
Epoch 13/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5481 - accuracy: 0.7291 - val_loss: 0.5536 - val_accuracy: 0.7393
Epoch 14/50
563/563 [==============================] - 2s 4ms/step - loss: 0.5476 - accuracy: 0.7315 - val_loss: 0.5541 - val_accuracy: 0.7381
Epoch 15/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5471 - accuracy: 0.7311 - val_loss: 0.5536 - val_accuracy: 0.7385
Epoch 16/50
563/563 [==============================] - 2s 4ms/step - loss: 0.5467 - accuracy: 0.7318 - val_loss: 0.5563 - val_accuracy: 0.7372
Epoch 17/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7316 - val_loss: 0.5567 - val_accuracy: 0.7354
Epoch 18/50
563/563 [==============================] - 2s 4ms/step - loss: 0.5457 - accuracy: 0.7321 - val_loss: 0.5559 - val_accuracy: 0.7361
Epoch 19/50
563/563 [==============================] - 2s 4ms/step - loss: 0.5462 - accuracy: 0.7302 - val_loss: 0.5561 - val_accuracy: 0.7385
Epoch 20/50
563/563 [==============================] - 2s 4ms/step - loss: 0.5454 - accuracy: 0.7306 - val_loss: 0.5556 - val_accuracy: 0.7387
Epoch 21/50
563/563 [==============================] - 2s 4ms/step - loss: 0.5450 - accuracy: 0.7318 - val_loss: 0.5591 - val_accuracy: 0.7356
Epoch 22/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7307 - val_loss: 0.5579 - val_accuracy: 0.7384
Epoch 23/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7321 - val_loss: 0.5610 - val_accuracy: 0.7358
Epoch 24/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7316 - val_loss: 0.5576 - val_accuracy: 0.7383
Epoch 25/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7325 - val_loss: 0.5586 - val_accuracy: 0.7389
Epoch 26/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7325 - val_loss: 0.5612 - val_accuracy: 0.7359
Epoch 27/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7308 - val_loss: 0.5605 - val_accuracy: 0.7353
Epoch 28/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7317 - val_loss: 0.5591 - val_accuracy: 0.7380
Epoch 29/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7328 - val_loss: 0.5618 - val_accuracy: 0.7354
Epoch 30/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7322 - val_loss: 0.5628 - val_accuracy: 0.7349
Epoch 31/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7324 - val_loss: 0.5615 - val_accuracy: 0.7371
Epoch 32/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5427 - accuracy: 0.7344 - val_loss: 0.5612 - val_accuracy: 0.7371
Epoch 33/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7323 - val_loss: 0.5646 - val_accuracy: 0.7356
Epoch 34/50
563/563 [==============================] - 2s 4ms/step - loss: 0.5428 - accuracy: 0.7331 - val_loss: 0.5614 - val_accuracy: 0.7361
Epoch 35/50
563/563 [==============================] - 3s 5ms/step - loss: 0.5424 - accuracy: 0.7332 - val_loss: 0.5613 - val_accuracy: 0.7380
Epoch 36/50
563/563 [==============================] - 3s 5ms/step - loss: 0.5426 - accuracy: 0.7331 - val_loss: 0.5602 - val_accuracy: 0.7372
Epoch 37/50
563/563 [==============================] - 2s 4ms/step - loss: 0.5424 - accuracy: 0.7333 - val_loss: 0.5601 - val_accuracy: 0.7378
Epoch 38/50
563/563 [==============================] - 3s 4ms/step - loss: 0.5418 - accuracy: 0.7328 - val_loss: 0.5624 - val_accuracy: 0.7349
Epoch 39/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5419 - accuracy: 0.7337 - val_loss: 0.5611 - val_accuracy: 0.7371
Epoch 40/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7326 - val_loss: 0.5621 - val_accuracy: 0.7354
Epoch 41/50
563/563 [==============================] - 2s 4ms/step - loss: 0.5414 - accuracy: 0.7349 - val_loss: 0.5611 - val_accuracy: 0.7391
Epoch 42/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7345 - val_loss: 0.5633 - val_accuracy: 0.7371
Epoch 43/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7335 - val_loss: 0.5598 - val_accuracy: 0.7407
Epoch 44/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5414 - accuracy: 0.7338 - val_loss: 0.5616 - val_accuracy: 0.7379
Epoch 45/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7321 - val_loss: 0.5612 - val_accuracy: 0.7370
Epoch 46/50
563/563 [==============================] - 2s 4ms/step - loss: 0.5412 - accuracy: 0.7335 - val_loss: 0.5614 - val_accuracy: 0.7385
Epoch 47/50
563/563 [==============================] - 2s 4ms/step - loss: 0.5408 - accuracy: 0.7345 - val_loss: 0.5610 - val_accuracy: 0.7384
Epoch 48/50
563/563 [==============================] - 2s 4ms/step - loss: 0.5406 - accuracy: 0.7351 - val_loss: 0.5632 - val_accuracy: 0.7356
Epoch 49/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5408 - accuracy: 0.7345 - val_loss: 0.5623 - val_accuracy: 0.7379
Epoch 50/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7339 - val_loss: 0.5650 - val_accuracy: 0.7357

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [28]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5580 - accuracy: 0.7306 - 484ms/epoch - 2ms/step
Loss: 0.558045506477356, Accuracy: 0.7306122183799744

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [29]:
# Set the model's file path
file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

C:\Users\nikhi\Homework\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [30]:
# Alternate model without ASK_AMT
applicant_data_df2 = applicant_data_df.drop(["ASK_AMT"], axis=1)
list(applicant_data_df2.dtypes[applicant_data_df2.dtypes == "object"].index)
enc2 = OneHotEncoder(sparse=False)
encoded_data2 = enc2.fit_transform(applicant_data_df2[categorical_variables])
encoded_df2 = pd.DataFrame(
    encoded_data2,
    columns = enc2.get_feature_names_out(categorical_variables)
)
encoded_df2 = pd.concat([encoded_df2, applicant_data_df2[['STATUS', 'IS_SUCCESSFUL']]], axis=1)
y2 = encoded_df2[["IS_SUCCESSFUL"]]
X2 = encoded_df2.drop(columns='IS_SUCCESSFUL')
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, random_state=1)
scaler2 = StandardScaler()
X_scaler2 = scaler2.fit(X_train2)
X_train_scaled2 = X_scaler2.transform(X_train2)
X_test_scaled2 = X_scaler2.transform(X_test2)

C:\Users\nikhi\Homework\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [31]:
# Define the the number of inputs (features) to the model
number_input_features_A1 = len(X_train2.iloc[0])

# Review the number of features
number_input_features_A1

115

In [32]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 10

In [33]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 10

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

10

In [34]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [35]:
# First hidden layer
nn_A1.add(
    Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features_A1, activation="relu")
)
# Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2, activation="relu"))
# Output layer
nn_A1.add(Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 10)                1160

 dense_4 (Dense)             (None, 10)                110

 dense_5 (Dense)             (None, 1)                 11

=================================================================
Total params: 1281 (5.00 KB)
Trainable params: 1281 (5.00 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [36]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [37]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled2, y_train2, validation_split=0.3, epochs=20)

Epoch 1/20
563/563 [==============================] - 3s 3ms/step - loss: 0.6167 - accuracy: 0.6783 - val_loss: 0.5673 - val_accuracy: 0.7301
Epoch 2/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5682 - accuracy: 0.7214 - val_loss: 0.5579 - val_accuracy: 0.7367
Epoch 3/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5598 - accuracy: 0.7262 - val_loss: 0.5567 - val_accuracy: 0.7368
Epoch 4/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5559 - accuracy: 0.7275 - val_loss: 0.5565 - val_accuracy: 0.7367
Epoch 5/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5537 - accuracy: 0.7282 - val_loss: 0.5563 - val_accuracy: 0.7352
Epoch 6/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5522 - accuracy: 0.7280 - val_loss: 0.5557 - val_accuracy: 0.7388
Epoch 7/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5509 - accuracy: 0.7294 - val_loss: 0.5562 - val_accuracy: 0.7370
Epoch 8/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7287 - val_loss: 0.5562 - val_accuracy: 0.7379
Epoch 9/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5488 - accuracy: 0.7289 - val_loss: 0.5573 - val_accuracy: 0.7370
Epoch 10/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5480 - accuracy: 0.7288 - val_loss: 0.5556 - val_accuracy: 0.7394
Epoch 11/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7290 - val_loss: 0.5545 - val_accuracy: 0.7365
Epoch 12/20
563/563 [==============================] - 2s 4ms/step - loss: 0.5470 - accuracy: 0.7284 - val_loss: 0.5547 - val_accuracy: 0.7375
Epoch 13/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5465 - accuracy: 0.7295 - val_loss: 0.5567 - val_accuracy: 0.7387
Epoch 14/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7306 - val_loss: 0.5558 - val_accuracy: 0.7388
Epoch 15/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5457 - accuracy: 0.7310 - val_loss: 0.5562 - val_accuracy: 0.7384
Epoch 16/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7294 - val_loss: 0.5584 - val_accuracy: 0.7385
Epoch 17/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7310 - val_loss: 0.5555 - val_accuracy: 0.7403
Epoch 18/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5448 - accuracy: 0.7323 - val_loss: 0.5565 - val_accuracy: 0.7401
Epoch 19/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7309 - val_loss: 0.5554 - val_accuracy: 0.7402
Epoch 20/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7322 - val_loss: 0.5565 - val_accuracy: 0.7381

#### Alternative Model 2

In [38]:
## Same X and y as alternative model, but we will be dropping

In [39]:
# Define the the number of inputs (features) to the model
number_input_features_A2 = len(X_train2.iloc[0])

# Review the number of features
number_input_features_A2

115

In [40]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 10

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

10

In [41]:
# Create the Sequential model instance
nn_A2 =  Sequential()

In [42]:
# First hidden layer
nn_A2.add(
    Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features_A2, activation="relu")
)
# Dropout layer
nn_A2.add(Dropout(.2,input_shape=(10,)))

# Regularization layer
nn_A2.add(Dense(5, activation='relu', kernel_regularizer=l2(0.01), bias_regularizer=l2(0.01)))

# Output layer
nn_A2.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 10)                1160

 dropout (Dropout)           (None, 10)                0

 dense_7 (Dense)             (None, 5)                 55

 dense_8 (Dense)             (None, 1)                 6

=================================================================
Total params: 1221 (4.77 KB)
Trainable params: 1221 (4.77 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [43]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [44]:
# Fit the model
model_A2 = nn_A2.fit(X_train_scaled2, y_train2, validation_split=0.3, epochs=20)

Epoch 1/20
563/563 [==============================] - 4s 4ms/step - loss: 0.7004 - accuracy: 0.6556 - val_loss: 0.6143 - val_accuracy: 0.7188
Epoch 2/20
563/563 [==============================] - 2s 4ms/step - loss: 0.6169 - accuracy: 0.7032 - val_loss: 0.5886 - val_accuracy: 0.7242
Epoch 3/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5992 - accuracy: 0.7108 - val_loss: 0.5754 - val_accuracy: 0.7317
Epoch 4/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5878 - accuracy: 0.7157 - val_loss: 0.5697 - val_accuracy: 0.7326
Epoch 5/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5814 - accuracy: 0.7173 - val_loss: 0.5675 - val_accuracy: 0.7295
Epoch 6/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5798 - accuracy: 0.7175 - val_loss: 0.5643 - val_accuracy: 0.7315
Epoch 7/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5752 - accuracy: 0.7182 - val_loss: 0.5631 - val_accuracy: 0.7313
Epoch 8/20
563/563 [==============================] - 2s 4ms/step - loss: 0.5717 - accuracy: 0.7201 - val_loss: 0.5652 - val_accuracy: 0.7305
Epoch 9/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5708 - accuracy: 0.7206 - val_loss: 0.5631 - val_accuracy: 0.7313
Epoch 10/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5686 - accuracy: 0.7192 - val_loss: 0.5632 - val_accuracy: 0.7293
Epoch 11/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5696 - accuracy: 0.7206 - val_loss: 0.5633 - val_accuracy: 0.7310
Epoch 12/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5694 - accuracy: 0.7206 - val_loss: 0.5650 - val_accuracy: 0.7331
Epoch 13/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5663 - accuracy: 0.7226 - val_loss: 0.5636 - val_accuracy: 0.7337
Epoch 14/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5660 - accuracy: 0.7235 - val_loss: 0.5626 - val_accuracy: 0.7336
Epoch 15/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5649 - accuracy: 0.7225 - val_loss: 0.5631 - val_accuracy: 0.7332
Epoch 16/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5643 - accuracy: 0.7217 - val_loss: 0.5632 - val_accuracy: 0.7344
Epoch 17/20
563/563 [==============================] - 2s 4ms/step - loss: 0.5634 - accuracy: 0.7237 - val_loss: 0.5647 - val_accuracy: 0.7328
Epoch 18/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5640 - accuracy: 0.7241 - val_loss: 0.5659 - val_accuracy: 0.7330
Epoch 19/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5624 - accuracy: 0.7216 - val_loss: 0.5658 - val_accuracy: 0.7323
Epoch 20/20
563/563 [==============================] - 2s 4ms/step - loss: 0.5610 - accuracy: 0.7252 - val_loss: 0.5641 - val_accuracy: 0.7340

### Alternative Model 3

In [45]:
## Two layers with dropout and regularizer for each

# Define the the number of inputs (features) to the model
number_input_features_A3 = len(X_train2.iloc[0])

# Review the number of features
number_input_features_A3

115

In [46]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A3 = 20
hidden_nodes_layer2_A3 = 20

In [48]:
# Create the Sequential model instance
nn_A3 =  Sequential()

In [49]:
# First hidden layer
nn_A3.add(
    Dense(units=hidden_nodes_layer1_A3, input_dim=number_input_features_A3, activation="relu")
)
nn_A3.add(Dropout(.2,input_shape=(10,)))
nn_A3.add(Dense(5, activation='relu', kernel_regularizer=l2(0.01), bias_regularizer=l2(0.01)))
nn_A3.add(
    Dense(units=hidden_nodes_layer2_A3, input_dim=hidden_nodes_layer1_A3 * .8, activation="relu")
)
nn_A3.add(Dropout(.2,input_shape=(10,)))
nn_A3.add(Dense(5, activation='relu', kernel_regularizer=l2(0.01), bias_regularizer=l2(0.01)))

# Output layer
nn_A3.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A3.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 20)                2320

 dropout_1 (Dropout)         (None, 20)                0

 dense_10 (Dense)            (None, 5)                 105

 dense_11 (Dense)            (None, 20)                120

 dropout_2 (Dropout)         (None, 20)                0

 dense_12 (Dense)            (None, 5)                 105

 dense_13 (Dense)            (None, 1)                 6

=================================================================
Total params: 2656 (10.38 KB)
Trainable params: 2656 (10.38 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [50]:
# Compile the model
nn_A3.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [51]:
# Fit the model
model_A3 = nn_A3.fit(X_train_scaled2, y_train2, validation_split=0.3, epochs=40)

Epoch 1/40
563/563 [==============================] - 4s 4ms/step - loss: 0.7167 - accuracy: 0.6695 - val_loss: 0.6182 - val_accuracy: 0.7261
Epoch 2/40
563/563 [==============================] - 2s 3ms/step - loss: 0.6147 - accuracy: 0.7144 - val_loss: 0.5815 - val_accuracy: 0.7339
Epoch 3/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5922 - accuracy: 0.7195 - val_loss: 0.5715 - val_accuracy: 0.7359
Epoch 4/40
563/563 [==============================] - 2s 3ms/step - loss: 0.5828 - accuracy: 0.7214 - val_loss: 0.5670 - val_accuracy: 0.7365
Epoch 5/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5769 - accuracy: 0.7228 - val_loss: 0.5652 - val_accuracy: 0.7389
Epoch 6/40
563/563 [==============================] - 2s 3ms/step - loss: 0.5754 - accuracy: 0.7233 - val_loss: 0.5667 - val_accuracy: 0.7358
Epoch 7/40
563/563 [==============================] - 2s 3ms/step - loss: 0.5722 - accuracy: 0.7252 - val_loss: 0.5697 - val_accuracy: 0.7370
Epoch 8/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5697 - accuracy: 0.7255 - val_loss: 0.5634 - val_accuracy: 0.7393
Epoch 9/40
563/563 [==============================] - 2s 3ms/step - loss: 0.5682 - accuracy: 0.7257 - val_loss: 0.5627 - val_accuracy: 0.7388
Epoch 10/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5673 - accuracy: 0.7242 - val_loss: 0.5672 - val_accuracy: 0.7354
Epoch 11/40
563/563 [==============================] - 2s 3ms/step - loss: 0.5666 - accuracy: 0.7259 - val_loss: 0.5658 - val_accuracy: 0.7387
Epoch 12/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5645 - accuracy: 0.7265 - val_loss: 0.5636 - val_accuracy: 0.7385
Epoch 13/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5643 - accuracy: 0.7254 - val_loss: 0.5703 - val_accuracy: 0.7375
Epoch 14/40
563/563 [==============================] - 2s 3ms/step - loss: 0.5646 - accuracy: 0.7256 - val_loss: 0.5663 - val_accuracy: 0.7345
Epoch 15/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5625 - accuracy: 0.7260 - val_loss: 0.5657 - val_accuracy: 0.7378
Epoch 16/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5622 - accuracy: 0.7261 - val_loss: 0.5634 - val_accuracy: 0.7368
Epoch 17/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5618 - accuracy: 0.7284 - val_loss: 0.5648 - val_accuracy: 0.7359
Epoch 18/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5609 - accuracy: 0.7290 - val_loss: 0.5660 - val_accuracy: 0.7383
Epoch 19/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5623 - accuracy: 0.7278 - val_loss: 0.5631 - val_accuracy: 0.7391
Epoch 20/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5613 - accuracy: 0.7265 - val_loss: 0.5661 - val_accuracy: 0.7372
Epoch 21/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5608 - accuracy: 0.7283 - val_loss: 0.5644 - val_accuracy: 0.7383
Epoch 22/40
563/563 [==============================] - 3s 6ms/step - loss: 0.5611 - accuracy: 0.7281 - val_loss: 0.5644 - val_accuracy: 0.7398
Epoch 23/40
563/563 [==============================] - 3s 5ms/step - loss: 0.5600 - accuracy: 0.7294 - val_loss: 0.5676 - val_accuracy: 0.7389
Epoch 24/40
563/563 [==============================] - 3s 5ms/step - loss: 0.5598 - accuracy: 0.7286 - val_loss: 0.5673 - val_accuracy: 0.7371
Epoch 25/40
563/563 [==============================] - 3s 5ms/step - loss: 0.5599 - accuracy: 0.7286 - val_loss: 0.5663 - val_accuracy: 0.7393
Epoch 26/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5590 - accuracy: 0.7303 - val_loss: 0.5734 - val_accuracy: 0.7357
Epoch 27/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5588 - accuracy: 0.7294 - val_loss: 0.5729 - val_accuracy: 0.7352
Epoch 28/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5573 - accuracy: 0.7292 - val_loss: 0.5727 - val_accuracy: 0.7348
Epoch 29/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5575 - accuracy: 0.7294 - val_loss: 0.5686 - val_accuracy: 0.7393
Epoch 30/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5589 - accuracy: 0.7289 - val_loss: 0.5697 - val_accuracy: 0.7385
Epoch 31/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5573 - accuracy: 0.7291 - val_loss: 0.5713 - val_accuracy: 0.7387
Epoch 32/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5574 - accuracy: 0.7287 - val_loss: 0.5723 - val_accuracy: 0.7397
Epoch 33/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5572 - accuracy: 0.7305 - val_loss: 0.5724 - val_accuracy: 0.7385
Epoch 34/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5559 - accuracy: 0.7303 - val_loss: 0.5703 - val_accuracy: 0.7398
Epoch 35/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5591 - accuracy: 0.7310 - val_loss: 0.5665 - val_accuracy: 0.7379
Epoch 36/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5566 - accuracy: 0.7274 - val_loss: 0.5784 - val_accuracy: 0.7388
Epoch 37/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5563 - accuracy: 0.7294 - val_loss: 0.5675 - val_accuracy: 0.7389
Epoch 38/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5558 - accuracy: 0.7297 - val_loss: 0.5728 - val_accuracy: 0.7385
Epoch 39/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5555 - accuracy: 0.7308 - val_loss: 0.5723 - val_accuracy: 0.7349
Epoch 40/40
563/563 [==============================] - 2s 4ms/step - loss: 0.5567 - accuracy: 0.7285 - val_loss: 0.5751 - val_accuracy: 0.7372

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [52]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 1s - loss: 0.5580 - accuracy: 0.7306 - 705ms/epoch - 3ms/step
Loss: 0.558045506477356, Accuracy: 0.7306122183799744

In [53]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled2, y_test2, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 0.5552 - accuracy: 0.7266 - 949ms/epoch - 4ms/step
Loss: 0.5551909804344177, Accuracy: 0.7266472578048706

In [54]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled2, y_test2, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 0.5630 - accuracy: 0.7294 - 611ms/epoch - 2ms/step
Loss: 0.5629609227180481, Accuracy: 0.7294460535049438

In [55]:
print("Alternative Model 3 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A3.evaluate(X_test_scaled2, y_test2, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 3 Results
268/268 - 1s - loss: 0.5619 - accuracy: 0.7290 - 638ms/epoch - 2ms/step
Loss: 0.5619304776191711, Accuracy: 0.7289795875549316

### Step 3: Save each of your alternative models as an HDF5 file.

In [56]:
# Set the file path for the first alternative model
file_path = Path("Resources/AlphabetSoup_A1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

C:\Users\nikhi\Homework\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [57]:
# Set the file path for the second alternative model
file_path = Path("Resources/AlphabetSoup_A2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)

In [58]:
# Set the file path for the second alternative model
file_path = Path("Resources/AlphabetSoup_A3.h5")

# Export your model to a HDF5 file
nn_A3.save(file_path)